.reflection_prompt {
  position: relative;
}

.description {
  padding: 0.25em;
  color: #fff;
  text-align: initial;
  font-size: 18px;
  line-height: 24px;

  a,
  a:visited {
    color: #fff;
  }
}
